body{
  font-family: Helvetica, 'Palatino Linotype', serif;
}

.jumbotron {
  display: flex;
  text-align: center;
  background-image: url('http://wallpapercave.com/wp/3jO7N1x.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron-alt{
   display: flex;
  background-image: url('http://i.imgur.com/Stkwf.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
.big{

  
}

.big:hover{
  color:red;
}

.btn{
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid black;
}
.btn:active{
  background-color:red;
}
