body{
  font-family: Helvetica, 'Palatino Linotype', serif;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://wallpapercave.com/wp/3jO7N1x.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.big{
  border-radius: 2px;
  border: 1px solid black;
  text-shadow: none;
  text-align:center;
  text-align: center;
  vertical-align: middle;
  float: middle;
}

.big:hover{
  color: red;
  background-color: black;
  border-color:red;
}
.btn{
  float:left;
}
.btn a{
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
}
