body{
  font-family: Helvetica, 'Palatino Linotype', serif;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://wallpapercave.com/wp/3jO7N1x.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h1{
  border-radius: 2px;
  border: 1px;
  border-color: black;
  text-shadow: none;
  text-align:center;
  text-align: center;
  vertical-align: middle;
}

.jumbotron h1:hover{
  color: red;
  background-color: black;
  border-color:red;
}
